@page "/confirmation/{territory}"
@layout MainLayout
@attribute [Authorize]

<title>Confirmation - CFBR Orders</title>

<h1>Confirmation</h1>

<h2>Thank you, @CurrentUser.Username</h2>
<p> You chose </p>

<h2>@territory</h2>

<p>Thank you for confirming your order. Good luck out there, soldier.</p>

<p>Remember to submit your move on <a href='https://dough.collegefootballrisk.com/#MyMove'>CollegeFootballRisk.com</a>.</p>

<RadzenButton Text="Change Move"
              Click="@ChangeMove" />

@code {
    [CascadingParameter]
    public CurrentUser CurrentUser { get; set; }

    [Parameter]
    public string territory { get; set; }

    private void ChangeMove()
    {
        Navigation.NavigateTo("/?edit=true");
    }
}
