@page "/login"
@inject NavigationManager NavigationManager

<title>Login - CFBR Orders</title>

<h1>Login</h1>

<input type="hidden" value="@ReturnUrl" />

<button class="btn btn-primary" @onclick="HandleRedditLogin">
    Sign in with Reddit
</button>

<button class="btn btn-primary" @onclick="HandleDiscordLogin">
    Sign in with Discord
</button>

@code {
    [Parameter]
    public string? ReturnUrl { get; set; }

    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        if (Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query)
            .TryGetValue("ReturnUrl", out var returnUrl))
        {
            ReturnUrl = returnUrl;
        }
    }

    private void HandleRedditLogin()
    {
        NavigationManager.NavigateTo($"/auth-reddit?ReturnUrl={ReturnUrl}", forceLoad: true);
    }

    private void HandleDiscordLogin()
    {
        NavigationManager.NavigateTo($"/auth-discord?ReturnUrl={ReturnUrl}", forceLoad: true);
    }

}
