@page "/logout"
@inject NavigationManager NavigationManager

<h1>Logging out...</h1>

@code {
    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo("/logout", forceLoad: true);
    }
}
