html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #000000 !important;
}

.star {
    line-height: 1em;
    margin: 5px;
    font-size: 6rem;
}

.choice-btn {
    margin: .5rem !important;
}

.rz-numeric-button {
    background-color: var(--arrow-color) !important;
}

.rz-pager-page.rz-state-active{
    color: var(--pager-color) !important;
}

.allocation-summary {
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
}