html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar .navbar-nav .nav-link:hover {
  color: #000000 !important;
}

.star {
  line-height: 1em;
  margin: 5px;
  font-size: 6rem;
}

.choice-btn {
  margin: 0.5rem !important;
}

.rz-numeric-button {
  background-color: var(--arrow-color) !important;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-container {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.modal-btn {
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.modal-btn.cancel {
  background-color: #ccc;
}

.rz-pager-page.rz-state-active {
  color: var(--pager-color) !important;
}

.allocation-summary {
  max-height: 300px;
  overflow-y: auto;
  text-align: left;
}
