/* #region Global Scrollbar Styling */
/* Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: var(--team-color);
    border-radius: 6px;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--team-color) #f1f1f1;
}
/* #endregion */

/* #region Base / Reset / Typography */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
}

h1, h2, body {
    color: #000000 !important;
}

/* #endregion */

/* #region Buttons & Focus States */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.rz-button {
    background-color: var(--team-color) !important;
    color: var(--team-contrast-color) !important;
    border-radius: 0;
}

.choice-btn {
    margin: 0.5rem !important;
}

.rz-numeric-button {
    background-color: var(--team-color) !important;
}

.cancel-btn {
    background-color: #ff0000 !important;
}

.rz-pager-page.rz-state-active {
    color: var(--team-color) !important;
}
/* #endregion */

/* #region Navigations & Dropdowns */
.navbar .navbar-nav .nav-link:hover {
    color: #000000 !important;
}

.rz-dropdown-item.rz-state-highlight,
.rz-dropdown-item:hover {
    background-color: var(--team-color) !important;
}

.rz-dropdown-panel {
    --team-color: inherit !important;
}
/* #endregion */

/* #region Layout and Utility Classes */
.full-width {
    width: 100%;
}

.centered-box {
    text-align: center;
    padding: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.large-text {
    font-size: 1.5em;
}
/* #endregion */

/* #region Special/Project classes */
.star {
    line-height: 1em;
    margin: 5px;
    font-size: 6rem;
    text-shadow: 0 0 5px var(--team-contrast-color);
    color: var(--team-color);
}

.allocation-summary {
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
}

.nothing-found {
    margin-top: 20px;
    padding: 10px;
    color: #ff0000;
    font-weight: bold;
}
/* #endregion */