name: Deploy Blazor Server to IIS

on:
  push:
    branches: [ master ] 
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'
    
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1
    
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build and Deploy with MSBuild
      run: |
        msbuild CFBROrders.Web/CFBROrders.Web.csproj `
          /p:Configuration=Release `
          /p:DeployOnBuild=true `
          /p:PublishProfile=CFBROrders Deploy to Test `
          /p:Password="${{ secrets.WEBDEPLOY_PASSWORD }}"